<launch>

  <include file="$(find kinect2_bridge)/launch/kinect2_bridge.launch">
    <arg name="base_name" value="camera_0" />
    <arg name="sensor" value="004783654147" />
    <arg name="publish_tf" value="true" />
  </include>

  <node name="info_extractor_cam_0" pkg="mecs_monitor" type="info_extractor_node" output="screen">
    <param name="camera" value="camera_0" />
    <param name="quality" value="sd" />
  </node>
</launch>
